.warnings
  .github
    = link_to "GITHUB IS DOWN", 'http://status.github.com'
  .heroku
    = link_to "HEROKU IS DOWN", 'http://status.heroku.com'
  .rubygems
    = link_to "RUBYGEMS IS DOWN", 'http://status.rubygems.org'
.tiles
:javascript
  var projects = #{@projects.to_json};
:coffeescript
  $ ->
    new ProjectMonitor.Routers.HomeRouter({projects: projects})
    Backbone.history.start({pushState: true})
    @scroll_to_top = true
    animate = ->
      scroll_location = if @scroll_to_top then 0 else $(document).height() - $(window).height()
      @scroll_to_top = !@scroll_to_top
      $('html, body').animate({ scrollTop: scroll_location }, 2000, animate)
    animate()

